.orderDetail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 100%;
  
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      padding: 10px 20px;
  
      h1 {
        font-size: 1.8rem;
        margin: 0;
        color: #333;
      }
  
      .orderInfo {
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .orderID {
          font-size: 0.9rem;
          color: #888;
          margin: 0;
        }
  
        .status {
          font-size: 1.1rem;
          padding: 5px;
          border-radius: 5px;
          display: inline-block;
          margin-top: 5px;
  
          &.booking,
          &.confirmation {
            background-color: #ffcc00;
            color: #fff;
          }
  
          &.payment {
            background-color: #4caf50;
            color: #fff;
          }
  
          &.preparation {
            background-color: #ff9800;
            color: #fff;
          }
  
          &.event {
            background-color: #673ab7;
            color: #fff;
          }
  
          &.post-event,
          &.follow-up {
            background-color: #9e9e9e;
            color: #fff;
          }
  
          &.cancelled {
            background-color: #f44336;         
            color: #fff;
          }
        }
      }
    }
  
    .textContainer {
      display: flex;
      flex-direction: column; 
      padding: 20px; 
      background-color: #f9f9f9;
      border-radius: 8px; 
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    
      .venueInfo, .customerInfo {
        margin-bottom: 20px; 
        padding: 15px;
        background-color: #fff;
        border-radius: 5px; 
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); 
    
        h3 {
          margin-top: 0; 
          color: #333; 
        }
    
        p {
          margin: 5px 0; 
          color: #555;
          strong {
            color: #000; 
          }
        }
    
        .reviewSection {
          margin-top: 15px; 
          padding: 10px; 
          background-color: #e8f5e9;
          border-left: 4px solid #4caf50;
          
          h4 {
            margin-top: 0; 
            color: #4caf50;
          }
        }
      }
    }
    
  }