.filter {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1 {
        font-size: 24px;
        font-weight: 300;
    }

    .item {
        display: flex;
        flex-direction: column;
        gap: 2px;

        label {
            font-size: 10px;
        }

        input, select {
            width: 100px;
            padding: 10px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            font-size: 14px;           
        }

        p {
           font-size: 14px;
        }
    }
    .top, .bottom {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px;

        button {
            width: 50px;
            padding: 10px;
            border: none;
            cursor: pointer;
            background-color: #fece51;
            
            .FontAwesomeIcon {
                color: white;
            }
        }
      }

    .top {
        .item {
          flex: 1; 
          input {
            width: 100%; 
          }
        }
      }

      .bottom {
        .item {
          flex: 1;
          select {
            width: 100%;
          }
        }
      }

}