@import '../../responsive.scss';

.singlePage {
    display: flex;
    height: 100%;

    @include md {
        flex-direction: column;
        overflow: scroll;
    }

    .details {
        flex: 3;
        height: 100%;
        overflow-y: scroll;

        @include md {
            flex: none;
            height: max-content;
            margin-bottom: 50px;
        }

        .wrapper {
            padding-right: 50px;

            .info {
                margin-top: 20px;

                .top {
                    display: flex;
                    justify-content: space-between;

                    .post {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .address {
                            display: flex;
                            gap: 5px;
                            align-items: center;
                            color: #888;
                            font-size: 14px;
                        }

                        .rating {
                            display: flex;
                            gap: 5px;
                            align-items: center;
                            font-size: 14px;
                            color: #fece51;
                        }

                        .price {
                            padding: 5px;
                            background-color: rgba(254, 205, 81, 0.438);
                            border-radius: 5px;
                            width: max-content;
                            font-size: 20px;
                            font-weight: 200;
                        }
                    }

                    .user {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 20px;
                        padding: 0px 50px;
                        border-radius: 10px;
                        background-color: rgba(254, 205, 81, 0.209);
                        font-weight: 400;

                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                }

                .description {
                    margin-top: 20px;
                    color: #555;
                    line-height: 20px;
                    overflow-y: scroll;
                    height: 120px;
                }

                .bottom {
                    display: flex;
                    gap: 10px;
                    justify-content: center;

                    button {
                        width: 50%;
                        padding: 10px;
                        gap: 10px;
                        background-color: #fcf5f3;
                        border: 1px solid #fece51;
                        border-radius: 5px;
                        cursor: pointer;
                    }

                }
            }
        }
    }

    .features {
        flex: 2;
        background-color: #fcf5f3;
        height: 100%;
        display: flex;
        flex-direction: column;

        @include md {
            flex: none;
            height: max-content;
            margin-bottom: 50px;
        }

        .wrapper {
            padding: 0px 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            overflow-y: scroll;

            .title {
                font-weight: bold;
                font-size: 18px;
                margin-bottom: 5px;
            }

            .area {
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 14px;

                .areaText {
                    span {
                        font-weight: bold;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }

            .listVertical {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 10px 5px;
                background-color: white;
                border-radius: 10px;
            }

            .listHorizontal {
                display: flex;
                padding: 10px 5px;
                background-color: white;
                border-radius: 10px;
                justify-content: space-between;
                align-items: center;
            }

            .services {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 5px;

                @include lg {
                    font-size: 14px;
                }

                .service {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-size: 14px;
                    background-color: white;
                    padding: 10px;
                    border-radius: 10px;
                }
            }

            .mapContainer {
                width: 100%;
                height: 150px;
            }
        }

        .buttons {
            display: flex;
            justify-content: space-between;

            button {
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                background-color: white;
                border: 1px solid #fece51;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
    .chatBox {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;

        .top {
            background-color: #f7c14b85;
            padding: 20px;
            display: flex;
            align-items: center;
            font-weight: bold;
            justify-content: space-between;

            .user {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }

            }

            .close {
                cursor: pointer;
            }
        }

        .center {
            height: 350px;
            overflow: scroll;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .chatMessage {
                width: 50%;

                &.own {
                    align-self: flex-end;
                    text-align: right;
                }

                span {
                    font-size: 10px;
                    background-color: #f7c14b39;
                    padding: 2px;
                }

            }
        }

        .bottom {
            border-top: 2px solid #f7c14b85;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            textarea {
                flex: 3;
                height: 100%;
                border: none;
                padding: 10px;
            }

            button {
                flex: 1;
                background-color: #f7c14b85;
                height: 100%;
                border: none;   
                cursor: pointer;
            }
        }
    }
}